VITE_APPWRITE_ENDPOINT=https://auth-exclusive.jason-shadow.com/v1
VITE_APPWRITE_PROJECT_ID=6a64cbeb0009826c9efc
VITE_CLOUDFLARE_API_BASE_URL=https://exclusive-membership-api.jason-winckler-business.workers.dev
VITE_CLOUDFLARE_ADMIN_API_BASE_URL=https://exclusive-admin-api.jason-winckler-business.workers.dev
