VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a64cbeb0009826c9efc
VITE_APPWRITE_DATABASE_ID=6a64f96800187b534953
VITE_APPWRITE_USERS_COLLECTION_ID=user_profiles
VITE_APPWRITE_AGE_COLLECTION_ID=age_verification_cases
VITE_APPWRITE_STORAGE_BUCKET_ID=6a657e2b0008347358ee
VITE_APPWRITE_PROVISION_FUNCTION_ID=account-provisioning
VITE_APPWRITE_VERIFICATION_FUNCTION_ID=age-verification-finalize
